<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
</section>
  <section class="seccion1" data-type="parallax_section" data-speed="10">
</section>

<section>
	
	<h1>En esta parte no tenemos nada es solamente una prueba para saber si sirve el efecto parallax con ruby on rails y en FW materializa</h1>
</section>

<section class="seccion2" data-type="parallax_section" data-speed="10"></section>
</body>
</html>