// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.seccion1 {
		background: url(1.jpg) 10% 0 no-repeat fixed;
		min-height: 700px;
		margin:  auto;
		width: 100%;
		max-width: auto;
		position: relative;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
  }
  .seccion2 {
		background: url(2.jpg) 10% 0 no-repeat fixed;
		min-height: 700px;
		margin:  auto;
		width: 100%;
		max-width: auto;
		position: relative;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
  